.footer-container{
    width:100%;
    height: auto;
    /* border:4px solid darkblue; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(29 222 237 / 48%);
    color: rgb(35 15 125);
  padding: 30px 0px 40px 0px;
  margin-top: 20px;
}
.footer-box-container{
    /* border: 1px solid gold !important; */
    width: 27%;
    height: auto;
    /* border: 3px solid #121212;
    background-color: rgb(35 15 125); */
        background-color:  rgba(40, 132, 139, 0.48);
        padding-left: 5px;
    color: rgb(35 15 125);
        align-items: flex-start;
        border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-box-container2{
    /* border: 1px solid gold !important; */
    width: 27%;
        align-items: flex-start;
    height: auto;
    /* border: 3px solid #121212;
    background-color: rgb(35 15 125); */
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-box-container3{
    /* border: 1px solid gold !important; */
    width: 27%;
    height: auto;
    /* border: 3px solid #121212; */
    /* background-color: rgb(35 15 125); */
    color: white;
    display: flex;
        align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-box{
    margin-left: 10px;
    /* border: 1px solid yellow !important; */
        display: flex;
         align-items: center;
         justify-content: stretch;
}

.footer-box{
    display: flex;
    gap:10px;
    color: rgb(37, 168, 229);
    align-items: center;
    /* text-align: center; */
    /* border: 3px solid #121212; */
    height: 60px;
    justify-content: center;
}
.footer-box>p{
    color: white;
}

.fp1{
    font-size: 18px;
   /* color: #6000ff !important; */
}

@media all and (min-width:576px) and (max-width:768px){

    .footer-container{
        flex-direction: column;
        height: auto;
        gap:38px;
    }

    .footer-box-container{

        width: 90%;
    }
    .footer-box-container2{
         width: 90%;
        
    }
    .footer-box-container3{
        
         width: 90%;
    }
    .fp1{
        font-size: 18px;
    }
}

@media all and (min-width:320px) and (max-width:575px){

    .footer-container{
         flex-direction: column;
        height: auto;
        gap:38px; 
        align-items: center !important;
    }

    .footer-box-container{

        width: 100%;
        padding: 0px 10px;
    }
    .footer-box-container2{
         width: 100%;
          padding: 0px 10px;
        
    }
    .footer-box-container3{
        
         width: 100%;
          padding: 0px 10px;
    }
      .fp1{
        font-size: 18px;
    }

}
